@font-face {
    font-family: Pipboy;
    src: url("../font/monofonto.ttf");
}

body{
    font-family: Pipboy, sans-serif;
    color: #48ff23 ;
    background: #292f28;
}

.navigation{
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar-expand-lg::before, .navbar-expand-lg::after{
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #48ff23;
    bottom: -6px;
}

.navbar-expand-lg::before{
    left: 0;
}
.navbar-expand-lg::after{
    right: 0;
}

ul > li.nav-item > a.nav-link{
    color: #48ff23!important;
}


.navigation > .navbar-collapse > ul > li.nav-item > a.nav-link{
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 32px;
    line-height: 30px;
    padding-bottom: 0;
    z-index: 50;
    position: relative;
    background: #292f28;
}
.center-image img{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 0;
    right: 25px;
    filter:grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
}

.pip-footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 5px;
    border: none;
    font-size: 22px;
}

.navbar-expand-lg ul.navbar-nav > li{
    display: block;
    position: relative;
    width: 100%;
}

.navbar-nav{
    width: 100%;
}

body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5),
    rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3;
    z-index: 1000000;
    pointer-events: none;
}


.nav-item.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    top: 26px;
    background: #292f28;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    left: 5px;
}

.nav.nav-tabs{
    margin: 20px;
    border-bottom: none;
}

.nav.nav-tabs > .nav-item > .nav-link:hover{
    border: 1px solid transparent;
}

.navbar.navbar-light .navbar-nav{
    margin: 0 200px;
}

.nav.nav-tabs > li > a{
    font-size: 20px!important;
    background: transparent !important;
    border: 1px solid transparent !important;
    padding: 5px 10px;
}

.nav.nav-tabs > li:nth-child(2) > a{
    opacity: .5;
}

.nav.nav-tabs > li:nth-child(3) > a{
    opacity: .2;
}

.level-progress{
    width: 70% !important;
    height: 10px;
    border: 2px solid;
    display: inline-block;
}

.pip-footer > div{
    bottom: 10px;
    background: rgba(16,255,0,.15);
    padding:5px 10px;
}

.level-progress-indicator{
    height: 6px;
    background: #48ff23;
    width: 70%;
}


.pip-footer > .col-6{
    margin: 0 5px;
    flex: 0 0 48%;
}

.center-image{
    width: 100%;
}

.stat-bar{
    width: 33%;
    margin: auto;
}

.tab-pane > .stat-bars > .row > .col-12, .tab-pane > .stat-bars > .row > .col{
    max-width: 35%;
    margin: auto;
    position: relative;
}

.stat-bars > .row > .col.bars{
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 150px;
    bottom: 40px;
}

.below{
    bottom: 150px;
}


.left{
    left: 200px;
}

.right{
    right: 200px;
}

.row > .bars > .stat-bar > .level-progress > .level-progress-indicator{
    width: 100%;
}


.row.middle-bottom{
    height: 40px;
}

.row > .below{
    bottom: 40px   ;
}

.row.icons{
    margin: auto;
    max-width: 50%;
    background: rgba(16,255,0,.15)  ;
}

.row.icons > .transparent {
    background: #292f28;
}

.row .img-responsive {
    width: 100%;
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
    margin-bottom: 10%;
}

.row .sm-img{
    width: 40px;
    text-align: center;
}

